name: check-datasets-xml

on:
  push:
    branches: [ '*' ]

jobs:
  check-datasets-xml:
    permissions:
      contents: read
      pull-requests: write
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.13' ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get current date for environments & downloads cache keys
        id: date
        run: echo "date=$(date +%Y-%m-%d)" >> "${GITHUB_OUTPUT}"

      - name: Set up Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462
        with:
           environment-file: envs/environment-test.yaml
           environment-name: erddap-datasets-test
           cache-environment: true
           # persist environment cache for 1 day
           cache-environment-key: environment-${{ steps.date.outputs.date }}
           cache-downloads: true
           # persist downloads cache for 1 day
           cache-downloads-key: downloads-${{ steps.date.outputs.date }}-check-datasets
           create-args: >-
             python=${{ matrix.python-version }}

      - name: Run check_datasets_xml.py
        run: python check_datasets_xml.py
        shell: bash -el {0}
